{% extends 'base.html.twig' %}
{% block body_class %}about-index{% endblock %}
{% block body %}
    <div class="vk-about">

        <!--BENGIN CONTENT HEADER-->
        <section class="site-content-area">


            <div class="vk-about-welcometo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="vk-about-welcometo-left">
                                <img src="{{ asset('image2.jpg') }}" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="vk-about-welcometo-right">
                                <div class="vk-about-right-header">
                                    <h2>{{ title }}</h2>
                                    <div class="clearfix"></div>
                                    <div class="vk-about-border"></div>
                                </div>
                                <div class="vk-about-right-content">
                                    <p>
                                        {{ description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--END CONTENT ABOUT-->


    </div>
{% endblock %}
