
###> symfony/framework-bundle ###
/.env
assets/theme/images/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
.sass-cache
tests/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.DS_Store
public/img/conferences/*
public/img/news/*
public/img/therapies/*
web
