/*Home dark background ourservices*/
.vk-sparta-dark-our-service{
  background: #000000;
  padding-top: 99px;
  .vk-sparta-head-title{
    h3{
      margin: 0px;
    }
    h2{
      color: #FFFFFF !important;
    }
  }
}
/*End Home dark background ourservices*/