/*Home center logo ourrooms*/
.vk-sparta-center-logo-ourrooms{
  background: #f9f9f9;
  .vk-sparta-head-title{
    h2{
      color:#333;
    }
  }
  .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 30px;
  }
}
/*End Home center logo ourrooms*/