<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
        <a class="nav-link " href="/admin">Admin naturable</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{{ path('admin_therapy_index') }}">Thérapies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{{ path('admin_news_index') }}">Actualités</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{{ path('admin_editable_index') }}">Contenus editables</a>
    </li>
  </ul>
</nav>
