/* Home transparent 1 blog*/
.vk-transparents-blogs{
  padding: 99px 0;
  background: #f9f9f9;
  .vk-sparta-head-title{
    h2{
      color: #333333;
    }
  }
  .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 30px;
  }
}
/* End Home transparent 1 blog*/