/*Home transparent 1 welcometo*/
.vk-sparta-transparents-welcometo{
  padding: 100px;
  padding-bottom: 0px;
  @media screen and (max-width: 991px) {
    padding: 0px;
  }
  .vk-transparents-welcometo-img{
    background: url("../images/01_05_transparents_1/img221.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 560px;
    width: 100%;
  }
}
.vk-sparta-item{
  padding: 5px;
}
.vk-transparents-welcometo-info{
  padding-right: 182px;
  @media screen and (max-width: 991px) {
    padding: 20px;
  }
  @media screen and (max-width: 1550px) and (min-width:992px) {
   padding: 0;
  }
  h3{
    font-family: "Cinzel Decorative";
    font-size: 14px;
    font-weight: bold;
    line-height: 2.14;
    letter-spacing: 2.8px;
    text-align: left;
    color: #62b043;
    margin: 0px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  h2{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #333333;
    margin: 0px;
    padding-top: 20px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }

  }
  .vk-dark-about-border{
    width: 40px;
    height: 3px;
    margin-top: 30px;
    background-color: #62b043;
    @media screen and (max-width: 767px) {
      margin: 30px auto;
    }
  }
  .vk-dark-about-right-content{
    margin-top: 59px;
    margin-bottom: 57px;
    p{
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      line-height: 2.14;
      text-align: justify;
      color: #7b7b7b;
    }
  }
  .vk-dark-about-right-author{
    p{
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 2.14;
      color: #333333;
      span{
        color: #62b043;
      }
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
  }
}
/* End Home transparent 1 welcometo*/
