<form method="post" action="{{ path('admin_therapy_delete', {'id': therapy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ therapy.id) }}">
    <button class="btn btn-warning">Supprimer la thérapie</button>
</form>
