{% extends 'base_admin.html.twig' %}

{% block title %}Edit Therapy{% endblock %}

{% block body %}
    <div class="container">

            {{ include('admin/therapy/_form.html.twig', {'button_label': 'Mettre à jour la'}) }}

        <a class='btn btn-info' href="{{ path('admin_therapy_index') }}">Retour à la liste</a>

        {{ include('admin/therapy/_delete_form.html.twig') }}
    </div>
{% endblock %}
