
<footer class="site-footer footer-default">
    <div class="footer-main-content">
        <div class="container">
            <div class="row">
                <div class="footer-main-content-elements">
                    <div class="footer-main-content-element col-sm-4">
                        <aside class="widget">
                            <div class="vk-widget-footer-1">
                                <div class="widget-content">
                                    <div class="vk-widget-content-info">
                                        <p><span class="ti-mobile"></span> (+233) 123 456789</p>
                                        <p><span class="ti-email"></span> contact@sparta.com</p>
                                        <p><span class="ti-location-pin"></span> 45 Queen's Park Rd, Brighton, BN2 0GJ, UK</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </aside>
                    </div>
                    <div class="footer-main-content-element col-sm-2">
                        <aside class="widget">
                            <div class="vk-widget-footer-2">
                                <h3 class="widget-title"> Company</h3>
                                <div class="widget-content">
                                    <ul class="vk-widget-content-2">
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> About us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="footer-main-content-element col-sm-2">
                        <aside class="widget">
                            <div class="vk-widget-footer-3">
                                <h3 class="widget-title">Services</h3>
                                <div class="widget-content">
                                    <ul class="vk-widget-content-2">
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Spa</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Rooms</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-content">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ul class="copyright-menu">
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
