.therapie{
    .vk-sparta-about{
        margin-bottom: 95px;
    }
    .vk-blog-list-body-left .vk-blog-list-left-item .vk-events-lists-item-right .vk-event-item-info{ padding-left: 0;}
}

.news-index{
    .vk-blog-grid-body{
        padding-top: 60px;
    }
}
.news-show{
    .vk-posts-details-body{
        padding-top: 0;
    }
}

.vk-restaurant-content .vk-restaurant-about .vk-restaurant-about-item p{
    line-height: 26px;
}
