/*Home header full width blog*/
.vk-header-full-width-blog{
  background: #f9f9f9;
  .vk-sparta-head-title{
    h2{
      color: #333;
    }
    h3{
      margin-top: 0px;
    }
  }
}
/*End Home header full width blog*/