/*Home header full width ourroom*/
.vk-sparta-header-full-width-our-rooms{
  background: #f9f9f9;
  .vk-sparta-head-title{
    h2{
      color:#333;
    }
    h3{
      margin-top: 0px;
    }
  }
  .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 30px;
  }
}
/*End Home header full width ourrooms*/